<table>
    <tr>
      <th>False Alarm(s)</th>
      <th>True Alarm(s) </th>
      <th>Dismissed Alarm(s)</th>
    </tr>
    <tr>
      <td><input type="number" id="falseAlarm" min="0"     max="50" value="10"></td>
      <td><input type="number" id="trueAlarm" min="0"      max="10" value="1"></td>
      <td><input type="number" id="dismissedAlarm" min="0" max="50" value="3"></td>
    </tr>
</table>

<button id="calculateButton">Calculate</button>
<div id="output"></div>

<script src="/assets/js/2023-10-30/calculator.js"></script>
